.titulo {
    margin: 0px auto;
    width: 500px;
    text-align: center;
    font-family: "Mrs Saint Delafield", serif;
    color: white;
    font-size: 60px;
    padding: 30px;
    background: rgb(179, 46, 22);
}

body {
    background: rgb(230, 228, 228);
}

.eslogan {
    margin: -45px auto 45px;
    color: white;
    text-align: center;
    font-family: "Mrs Saint Delafield", serif;
    font-size: 32px;
}

.carta{
    font-family: "Hind", serif;
    margin: 0px auto;
    text-align: center;
    font-size: 30px;
}

.lista-platos {
    list-style: none;
    padding-left: 0px;
    text-align: left;
    margin-left: 500px;
}

.lista-platos li.pasta::before{
    content:"🍝";
    margin-right: 8px;
}

.lista-platos li.carne::before { 
    content:"🥩";
    margin-right: 8px;
}