body {
    background: rgb(201, 197, 197);
    margin: 0;
    padding: 0;
}

.portada {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 100vh;
    border: 3px solid red;
}

.titulo {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    font-family: "Mrs Saint Delafield", serif;
    color: white;
    font-size: 5vw;
    padding: 4vh 4%;
    background: rgb(179, 46, 22);
    flex: 1;
    max-width: 800px;
}

.eslogan {
    margin: -4vh auto 4vh;
    color: white;
    text-align: center;
    font-family: "Mrs Saint Delafield", serif;
    font-size: 2vh;
    flex: 1;
    max-width: 700px;
}