body {
    background: rgb(230, 228, 228);
}

.portada {
    display: flex;
    border: 3px solid red;
    flex-direction: column;
    align-items: center;
}

.titulo {
    margin: 0px auto;
    width: 94%;
    text-align: center;
    font-family: "Mrs Saint Delafield", serif;
    color: white;
    font-size: 400%;
    padding: 30px;
    background: rgb(179, 46, 22);
    border: 3px solid white;
}

.eslogan {
    margin: -6% auto 6%;
    color: white;
    text-align: center;
    font-family: "Mrs Saint Delafield", serif;
    font-size: 300%;
    border: 3px solid green;
}

.carta{
    font-family: "Hind", serif;
    margin: 0px auto;
    text-align: center;
    font-size: 30px;
}

.lista-platos {
    list-style: none;
    padding-left: 0px;
    text-align: left;
    margin-left: 500px;
}

.lista-platos li.pasta::before{
    content:"🍝";
    margin-right: 8px;
}

.lista-platos li.carne::before { 
    content:"🥩";
    margin-right: 8px;
}